body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('back_jail.png');
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 60%;
}

.container h1 {
    color: #602121;
}

.options ul {
    list-style-type: none;
    padding: 0;
}

.options li {
    margin: 10px 0;
}

.options a {
    text-decoration: none;
    color: #602121;
    font-size: 18px;
}

.options a:hover {
    text-decoration: underline;
}

form table {
    width: 100%;
}

form table td {
    padding: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #602121;
}

form input[type="text"], form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #602121;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #801515;
}
